@font-face {
    font-family: 'avara';
    src: url('font/avara.ttf') format('truetype'),
         url('fonts/Avara-Bold.woff2') format('woff2'),
         url('fonts/Avara-Bold.woff') format('woff'),  
         url('fonts/Avara-Bold.eot') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abhaya';
    src: url('fonts/AbhayaLibre-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


h2, h3, p, a {
    font-family: "abhaya";
}


h1 {
    font-family: "avara";
}


h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.20;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    letter-spacing: 1.20;
    margin-top: -10px;
}

h3 {
    margin: 5px 10px 0px 0px;
    font-size: 15px;
    letter-spacing: 2;
    margin-bottom: 0px;
}


p {
    font-size: 15px;
    line-height: 1.5;
}

#wrapper {
    float: left;
    max-width: 1000px;
    min-width: 800px;
    margin: 0px 0px 50px 100px;
}

.item {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.textWrapper {
    margin-top: -10px;
    float: left;
    width: 50%;
}

p {
    margin: 5px 20px 20px 0px;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

.stretcher {
    height: 510px;
}

.images {
    margin-top: 5px;
    overflow: auto;
    overflow-y: hidden;
    height: 410px;
    white-space: nowrap;
}

img {
    height: 400px;
}





